DATABASE_URL="postgresql://postgres:devpassword@localhost:5433/attendance?schema=public"
RABBITMQ_URL="amqp://admin:devpassword@localhost:5672"
JWT_SECRET="YOUR_JWT_SECRET"
JWT_EXPIRES_IN="1d"
BUSINESS_TIMEZONE="Asia/Jakarta"
CORS_ORIGIN="http://localhost:5173,http://localhost:5174"

# Firebase
FIREBASE_CREDENTIALS_PATH="./secrets/firebase-admin.json"
FCM_ADMIN_TOPIC="YOUR_FCM_ADMIN_TOPIC"
